# Циклы в Python

Цели материала:
- Познакомиться с циклами в Python.
- Изучить, как работать со списками и словарями в цикле.
- Изучить, как работать в связке цикл + функции.
- Изучить, как выглядят вложенные циклы.
- Изучить, как останавливать цикл и пропускать итерацию в цикле.

# Исследование циклов в Python

Циклы — важный элемент программирования. Они позволяют выполнять один и тот же код несколько раз в зависимости от определённых условий.

Допусим, у тебя есть программа, которая должна проверить, является ли число чётным или нечётным. Циклы помогут автоматизировать этот процесс и выполнить проверку для разных значений. В Python существуют разные виды циклов.

![циклы.png]()

# Цикл `for`

Цикл `for` позволяет перебирать элементы в последовательности и выполнять определённые действия с каждым из них.

In [ ]:
# Синтаксис цикла for:
# for элемент in последовательность:
    # код, который нужно выполнить

Начнём с простого примера — **работы со списком**. Представь, что у тебя есть список покупок и нужно вывести каждый элемент этого списка на отдельной строке:

In [ ]:
# Список покупок
grocery_list = ['молоко', 'бананы', 'сыр', 'яйца']

Цикл начинается с ключевого слова `for`, а затем идёт конструкция `item in grocery_list:`. Этим мы говорим компьютеру: «Пока в списке (`grocery_list``) есть элементы (`item`), выполняй определенное действие».

Выполняемое действие записывается на следующей строке с отступом. В случае со списком нужно выводить каждый элемент списка по очереди, используя функцию `print(item)`.

In [ ]:
# Цикл для вывода каждого элемента списка
for item in grocery_list:
    print(f'В твоей продуктовой корзине: {item}')

В твоей продуктовой корзине: молоко
В твоей продуктовой корзине: бананы
В твоей продуктовой корзине: сыр
В твоей продуктовой корзине: яйца

В нашем случае переменная цикла `item` действует как хранилище для элементов списка. Во время первой итерации цикла в неё автоматически помещаются молоко, а во время второй итерации - бананы и так далее. Вот как это выглядит:
- `item` = "молоко"
вывести на печать: молоко
- `item` = "бананы"
вывести на печать: молоко, бананы
...

И да, вместо `item` можно использовать и другие слова или буквы. Например, ты часто будешь видеть следующее обозначение `i`. Это сокращение от английского слова `item`.

Следующий пример — **работа со словарём**, который представляет собой набор пар ключ-значение. Можно использовать цикл для перебора словаря и получить доступ к ключам и соответствующим значениям.

Возьмём словарь с продуктами и их количеством и выведем каждую пару ключ-значение на отдельной строке:

In [ ]:
# Словарь с продуктами и их количеством
grocery_dict = {
  'молоко': 1,
  'бананы': 2,
  'сыр': 1,
  'яйца': 1
}

Теперь попробуем вывести и названия товаров, и количество. Для этого снова берём цикл `for` и проходимся по каждой паре ключ-значение в словаре покупок с помощью выражения `product`, `quantity in grocery_dict.items()`.

Это позволяет получить доступ к ключам (`product`) и их значениям (`quantity`) поочерёдно в каждой итерации цикла. Действие внутри цикла будет состоять в выводе этих переменных.

In [ ]:
# Цикл для вывода каждой пары ключ-значение
for product, quantity in grocery_dict.items():
    print(f'В твоей продуктовой корзине: {product} {quantity} шт.')

В твоей продуктовой корзине: молоко 1 шт.
В твоей продуктовой корзине: бананы 2 шт.
В твоей продуктовой корзине: сыр 1 шт.
В твоей продуктовой корзине: яйца 1 шт.

> 📝 Комментарий <br>
> - Обычно в Python для обозначения ключа и значения словаря используются переменные `k` и `v` как сокращения от `key` и `value`, однако на самом деле названия переменных могут быть любыми. В случае с продуктами product = k, quantity = v.
>
> - Метод `.items()` указывает компьютеру, что мы хотим записать ключ и значение словаря `grocery_dict` в переменные product и quantity соответственно.

Можно вывести только ключи или только значения. Для этого нужны методы `.keys()` или `.values()` соответственно.

Вот как вывести только числа, то есть первые элементы значений в словаре:

In [ ]:
grocery_dict = { 'молоко': [1, 'л.'], 'бананы': [2, 'шт.'], 'брокколи': [1, 'шт.'], 'йогурт': [1, 'шт.'] }

In [ ]:
for quantity in grocery_dict.values():
  print(quantity[0])

1
2
1
1

Таким образом, мы успешно вывели только числовые значения, а единицы измерения проигнорировали.

## Вложенность цикла

Один цикл for можно вложить в другой, это называется «вложенные циклы» (англ. nested for loops). Рассмотрим базу данных клиентов, где у каждого клиента свои данные.

In [ ]:
clients = {
    1: {'name': 'Анна', 'age': 27, 'gender': 'female'},
    2: {'name': 'Света', 'age': 30, 'gender': 'female'}
}

In [ ]:
# пройдёмся по словарю клиентов
for client_id, client_info in clients.items():
    print('ID клиента:', client_id)
    # пройдёмся по данным о каждом клиенте
    for key, value in client_info.items():
        print(key + ':', value)
    print()  # добавляем пустую строку между информацией о клиентах

ID клиента: 1
name: Анна
age: 27
gender: female

ID клиента: 2
name: Света
age: 30
gender: female

> 📝 Комментарий <br>
> - Обрати внимание на соблюдение отступов слева. Они указывают на порядок выполнения операций. Например, команда `print()` без аргументов с одним отступом будет выполнена после вывода всей информации об одном клиенте, а не после каждого поля с данными.
>
> - Когда используешь команду `print()`, можно объединить строку, и не одну. Но объединять строку и, например, число или число с плавающей запятой нельзя. Дело в том, что идентификатор `id` и возраст age являются числами (такой тип данных называется int). Чтобы объединить разные типы данных, их нужно сначала принудительно преобразовать в строки с помощью функции `str()`.

## Функция `range()`

Циклы помогают выполнять повторяющиеся действия. Но что если нужно выполнить определённое количество итераций? Для этой цели существует функция `range()`.


Давай посмотрим, как это работает:

In [ ]:
# Создадим последовательность от 0 до 5
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# От 1 до 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# От 0 до 5 с шагом 2 (цикл будет проходить через одно число)
for i in range(0, 6, 2):
  print(i)

0
2
4

Разберёмся, как работает функция `range()`. Её параметры: `range(start, stop, step)`.

`start` — это последовательность от 0 до stop. Кстати, по умолчанию значение 0.

`stop` — это последовательность от start до stop, последнее значение не включается.

`step` — шаг, на который увеличивается каждый элемент (по умолчанию 1).

В итоге функция принимает три параметра.

- Когда передается только один аргумент, последовательность начинается с 0 и заканчивается на значении до аргумента. Как в примере выше, `range(6)` создаёт последовательность от 0 до 5.

- Когда передаются два аргумента, последовательность начинается с первого аргумента и заканчивается на значении до второго аргумента. Как в коде выше, `range(1, 10)` создаёт последовательность от 1 до 11.

- Последний аргумент устанавливает шаг. Как в коде выше, `range(0, 6, 2)` создаёт последовательность от 0 до 4 с шагом 2.

Эта функция полезна, когда нужно итерироваться по последовательности чисел или при использовании индексов для доступа к элементам списка.

> 📝 Комментарий <br>
>
> Если сейчас непонятно, что за функция такая и как она работает, ничего страшного. Позднее рассмотрим тему функций и тогда всё встанет на свои места.

Усложняем немного код. Сейчас будем использовать функцию range() в связке с len() для итерации по индексам двух списков и вывода соответствующих элементов в одном цикле.
Допустим, у нас есть два списка: список клиентов и список их оборотов по месяцам:

In [ ]:
# Список клиентов
clients = ['Иванов', 'Петров', 'Сидоров', 'Смирнов']

In [ ]:
# Обороты по месяцам в тыс. рублей
turnover = [100000, 150000, 120000, 200000]

In [ ]:
 # Используя длину одного из списков, создадим последовательность
for i in range(len(clients)):
  # Выведем информацию о клиентах и их оборотах в одном цикле
  print(clients[i], turnover[i])

Иванов 100000
Петров 150000
Сидоров 120000
Смирнов 200000

Таким образом, мы можем легко просмотреть информацию о клиентах и их оборотах за определённый период, используя всего лишь один цикл в связке с другими функциями.

# Цикл `while`

В отличие от цикла `for`, который выполняется определённое количество раз на основе итерируемого объекта, цикл `while` продолжает выполняться, пока условие истинно.

In [ ]:
# Синтаксис цикла while:
# while условие:
    # код, который нужно выполнить

Рассмотрим работу цикла на примере:

In [ ]:
# Установим начальное значение счётчика
count = 0

# Пока счётчик меньше пяти
while count < 5:

  # Выводим текущее значение счётчика
  print('Текущее значение:  ' + str(count))

  # Увеличим счётчик на единицу
  count = count + 1

  # Выводим новое значение счётчика
  print('Новое значение:    ' + str(count))

  # Для лучшей читаемости добавим пустую строку
  print()

Текущее значение:  0
Новое значение:    1

Текущее значение:  1
Новое значение:    2

Текущее значение:  2
Новое значение:    3

Текущее значение:  3
Новое значение:    4

Текущее значение:  4
Новое значение:    5

Хорошо, ты увидел, как работает код. Давай разбираться, как именно получился этот результат:

- В начале кода есть счётчик, который устанавливается на определённое значение (в нашем случае 0, но на практике это может быть любое число).
- На каждой итерации цикла проверяется условие: счётчик должен быть меньше 5.
- При первой итерации, так как значение счетчика равно 0 и меньше 5, выполняется код внутри цикла, и счётчик увеличивает значение на +1.
- На следующей итерации счётчик равен 1, что также удовлетворяет условию, поэтому код внутри цикла снова выполняется и значение счётчика увеличивается ещё на 1.
- Этот процесс повторяется на третьей итерации, когда счётчик становится равным 4.
- Однако при попытке выполнить четвёртую итерацию условие «меньше 5» уже не верно, поэтому выполнение цикла прекращается.

Кстати, вместо того, чтобы прибавлять 1 к переменной `i` с помощью выражения `i = i + 1`, можно использовать более короткую запись: `i += 1`. Это эквивалентное выражение, которое также увеличивает значение переменной `i` на 1. Например:

In [ ]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

Этот код будет выводить числа от 0 до 4, так как цикл продолжается, пока i меньше 5.

## Операторы `break` и `continue`

**Оператор `break`**

Допустим, у тебя есть цикл, который ты применяешь к очень длинному списку или словарю, содержащему большое количество элементов. Но в правильности своего кода ты сомневаешься. Если запустить цикл сразу на всём списке или словаре и окажется, что код не выполняется корректно, придётся ждать, пока компьютер просмотрит все элементы списка или словаря.

In [ ]:
# Предположим, у нас есть словарь с информацией о клиентах
clients_info = {101: {'name': 'Константин', 'age': 35, 'income': 50000},
                102: {'name': 'Татьяна', 'age': 29, 'income': 60000}}

In [ ]:
# Проходимся по каждому клиенту в словаре
for client_id, details in clients_info.items():

  # Выводим информацию о клиенте
  print("Client ID:", client_id)
  print("Details:", details)

  # Прерываем цикл после первого клиента
  break

Client ID: 101
Details: {'name': 'Константин', 'age': 35, 'income': 50000}

Можно прервать выполнение цикла, когда определённое условие становится истинным.

In [ ]:
# Установим начальное значение переменной
countdown = 6

In [ ]:
# Цикл будет продолжаться, пока переменная не станет равной нулю
while countdown != 0:
  # Выводим текущее значение переменной
  print(countdown)
  # Уменьшаем значение переменной на 1
  countdown -= 1
  # Если значение переменной достигнет 3, прерываем цикл
  if countdown == 3:
    break

6
5
4

Здесь цикл прерывается, когда значение счётчика становится равным 3.

Обрати внимание: в коде используется сокращённая запись `x -= 1` вместо `x = x - 1`.

**Оператор `continue`**

Иногда нужно пропустить одну или несколько итераций цикла, но не прекращать его полностью. В таких случаях поможет оператор `continue`.

Предположим, у тебя есть задача создать последовательность чисел от 1 до 20 и вывести только те числа, которые делятся на 5 без остатка:

In [ ]:
# Создадим последовательность от 1 до 20
for num in range(1, 21):

  # Если число не делится на 5 без остатка, пропустим его
  if num % 5 != 0:

    # Перейдём к следующему числу
    continue

  # В итоге выведем только те числа, которые делятся на 5 без остатка
  else:
    print(num)

5
10
15
20

Здесь оператор continue используется для пропуска вывода чисел, которые не делятся на 5 без остатка.

# Заключение
Теперь ты придёшь на лекцию с базой знаний о том:
1. какие бывают циклы в Python;
2. как они работают;
3. как взаимосвязаны циклы и функции;
4. как использовать операторы break и continue.

Эти знания открывают перед тобой возможности автоматизации кода и позволяют отдавать циклам рутинные прогрммистские задачи. Циклы облегчают работу программиста и делают её более эффективной и продуктивной.